
            body {
                background: white;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                margin: 0;
                padding: 0;
            }
            header {
                background-color: rgb(211, 67, 31);
                background-image: url("Cafe.jpeg");
                background-size: 100%;
                height:90px;
                padding: 22%;
                text-align: center;
            }
            header a {
                color: rgb(14, 12, 8);
                text-decoration: none;
                text-transform: uppercase;
                margin-top: 20px
            }
            header .mobile {
                display: none;
            }
            header a {
                background-size: 30px;
                background-repeat: no-repeat;
                top: -30px;
                width:300px; 
            }
            nav ul {
                margin: 0;
                padding: 0;
                list-style-type: 20px;
            }
                
        
            nav li {
                display: inline block;
                margin-right: 5px;
            }
            @media screen and (max-width: 500px) {
                header {
                    height: 100px;
                    background-position: 0 -30px;
                    display: inline-block;
                }
              header .mobile {
                  display: inline-block;
              }
              header .desktop {
                  display: none;
              }
            }

            .features {
                background: white;
                color: black;
                padding: 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;          
            }
            .features figure {
                margin: auto;
                text-align: center;
                width:200px;
            }
            .features figure img {
                border-radius: 20%;
                width: 200px;
            }
            div {
                background: rgb(136, 38, 38);
                margin: auto;
                width: 70px;
            }
            
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
            li {
                display: inline-block;
                background-color: white;
                border-radius: 3px;
                padding: 3px; 
                margin-right: 20px;
            }
            li:hover {
                background-color: rgb(68, 175, 36);
            }
            li:first-child {
                margin-left: 10px;
            }
            a {
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
                margin: 1px
            }
            .feature-box.closeouts div{
                background: rgb(158, 36, 36);
            }
            section {
                display: inline-block;
            }
            section div{
                background: pink;
                width: 100%;
                margin: 1px;
            }
            Footer {
                background: black;
                color: gray;
                font-size: 13px;
                padding: 20px 20px;
                text-align: center;
            }
        